<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>AJAX Loader Example</title>
        <h:outputStylesheet library="css" name="loader.css"/>
        <h:outputScript library="javax.faces" name="jsf.js" target="head"/>
    </h:head>
    <h:body>
        <h:form>
            <h:commandButton value="Submit" action="#{indexBean.sleep()}">
                <f:ajax execute="@form"/>
            </h:commandButton>
        </h:form>
        <div class="modal"><!-- Place at bottom of page before JS --></div>
        
        <script type="text/javascript">
            function handleAjax(data) {
                var status = data.status;

                switch (status) {
                    case "begin":
                        // This is the start of the AJAX request.
                        document.getElementsByTagName('body')[0].className = 'loading';
                        break;

                    case "complete":
                        // This is invoked right after AJAX response is returned.
                        break;

                    case "success":
                        // This is invoked right after successful processing of AJAX response and update of HTML DOM.
                        document.getElementsByTagName('body')[0].className = '';
                        break;
                }
            }
            // Setup the statusUpdate function to hear all events on the page
            jsf.ajax.addOnEvent(handleAjax);
        </script> 
    </h:body>
</html>